<launch>
<node pkg ="maze_actions"
type="odom_action_server.py"
name="record_odom_action_server_node"
output="screen">
</node>
<node pkg ="maze_movement"
type="crash_direction_service_server.py"
name="crash_direction_service_server"
output="screen">
</node>
<node pkg ="maze_main"
type="main_movement.py"
name="main_node"
output="screen">
</node>
</launch>